<section id="faq" class="section faq-area ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">¿Tienes preguntas? <br> Aquí te las resolvemos</h2>
                    <!-- <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                    <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <!-- FAQ Content -->
                <div class="faq-content">
                    <!-- sApp Accordion -->
                    <div class="accordion" id="sApp-accordion">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-10 col-lg-8">
                                <!-- Single Accordion Item -->
                                <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                    <!-- Card Header -->
                                    <div class="card-header bg-inherit border-0 p-0">
                                        <h2 class="mb-0">
                                            <button class="btn px-0 py-3" type="button" data-toggle="collapse" data-target="#collapseOne">
                                                ¿Como incluir un nuevo producto?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#sApp-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            1. Ingresa a CercanosApp con tu usuario.
                                            <br>2. Despliega el menu de la parte superior derecha y haz click en la opcion añadir mis productos.
                                            <br>3. Selecciona una opción entre añadirlo manualmente o añadirlo con un asesor.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                    <!-- Card Header -->
                                    <div class="card-header bg-inherit border-0 p-0">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed px-0 py-3" type="button" data-toggle="collapse" data-target="#collapseTwo">
                                                ¿Como inscribr mi empresa a CercanosApp?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#sApp-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            Elije tu plan haz click en "Inscríbete" y disfruta de CercanosApp.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                    <!-- Card Header -->
                                    <div class="card-header bg-inherit border-0 p-0">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed px-0 py-3" type="button" data-toggle="collapse" data-target="#collapseThree">
                                                ¿Importa el tamaño de mi empresa?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#sApp-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            No!, CercanosApp esta diseñado para todo tipo empresas. Si tu conoces a una empresa o persona indiente, invitala a que conosca CercanosApp.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                    <!-- Card Header -->
                                    <div class="card-header bg-inherit border-0 p-0">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed px-0 py-3" type="button" data-toggle="collapse" data-target="#collapseFour">
                                                ¿Que pasa si no se manejar aplicaciones?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFour" class="collapse" data-parent="#sApp-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            CercanosApp es muy facil de manejar, sin embargo cuentas con soporte tecnico en caso de que lo nesecites.
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Accordion Item -->
                                <div class="card border-top-0 border-left-0 border-right-0 border-bottom">
                                    <!-- Card Header -->
                                    <div class="card-header bg-inherit border-0 p-0">
                                        <h2 class="mb-0">
                                            <button class="btn collapsed px-0 py-3" type="button" data-toggle="collapse" data-target="#collapseFive">
                                                ¿Como puedo definir las formas de pago?
                                            </button>
                                        </h2>
                                    </div>
                                    <div id="collapseFive" class="collapse" data-parent="#sApp-accordion">
                                        <!-- Card Body -->
                                        <div class="card-body px-0 py-3">
                                            1. Ingresa a CercanosApp con tu usuario.
                                            <br>2. Despliega el menu de la parte superior derecha y haz click en la opcion configuracion.
                                            <br>3. Una vez alli podras elejir los metodos de pago que prefieras para tus clientes.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>