<section class="section sponsors-area overlay-dark ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Download Text -->
                <div class="download-text text-center">
                    <h2 class="text-white">Vuélvete patrocinador</h2>
                    <p class="text-white my-3 d-none d-sm-block">Si eres distribuidor de algun producto.<br>Conviertete en una marca asociada.</p>
                    <!-- <p class="text-white my-3 d-block d-sm-none">Estas a un click de crear tu tienda virtual #CercanosApp</p> -->
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex justify-content-center">
                        <a href="#contact" class="btn btn-bordered mt-4">Conoce más</a>
                        <!-- <a href="#">
                            <img src="assets/img/google-play.png" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/app-store.png" alt="">
                        </a> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>