<div class="height-emulator d-none d-lg-block"></div>
<footer class="footer-area footer-fixed">
    <!-- Footer Top -->
    <div class="footer-top ptb_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Logo -->
                        <a class="navbar-brand" href="inicio">
                            <img class="logo logoconectados" src="assets/img/prototipologo.png" alt="">
                        </a>
                        <p class="mt-2 mb-3">Tus clientes mas cerca de ti</p>
                        <!-- Social Icons -->
                        <div class="social-icons d-flex">
                            <a class="facebook" href="https://www.facebook.com/Cercanos-105933794446979/">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <!-- <a class="twitter" href="#">
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="google-plus" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <i class="fab fa-google-plus-g"></i>
                            </a> -->
                            <a class="vine" href="https://www.instagram.com/cercanos.app/">
                                <i class="fab fa-instagram"></i>
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title mb-2"></h3>
                        <ul>
                            <li class="py-2">
                                <a href="#"></a>
                            </li>
                            <li class="py-2">
                                <a href="#"> </a>
                            </li>
                            <li class="py-2">
                                <a href="#"></a>
                            </li>
                            <!-- <li class="py-2"><a href="#">Blog</a></li> -->
                            <li class="py-2">
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title mb-2">Centro de Ayuda</h3>
                        <ul>
                            <li class="py-2"><a href="#faq">Preguntas Frecuentes</a></li>
                            <li class="py-2"><a href="politica-privacidad">Política de Privacidad</a></li>
                            <li class="py-2"><a href="terminos-condiciones">Terminos &amp; Condiciones</a></li>
                            <li class="py-2"><a href="#contact">Soporte</a></li>
                            <!-- <li class="py-2"><a href="#contact">Contacto</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <!-- Footer Items -->
                    <div class="footer-items">
                        <!-- Footer Title -->
                        <h3 class="footer-title mb-2">Descargar</h3>
                        <!-- Store Buttons -->
                        <div class="button-group store-buttons store-black d-flex flex-wrap">
                            <a href="https://play.google.com/store/apps/details?id=com.sistecol.cercanosapp&hl=es">
                                <img src="assets/img/google-play-black.png" alt="">
                            </a>
                            <a href="https://apps.apple.com/co/app/cercanosapp/id1516550142">
                                <img src="assets/img/app-store-black.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Copyright Area -->
                    <div class="copyright-area d-flex flex-wrap justify-content-center justify-content-sm-between text-center py-4">
                        <!-- Copyright Left -->
                        <div class="copyright-left">&copy; 2020 CercanosApp</div>
                        <!-- Copyright Right -->
                        <div class="copyright-right">Hecho con <i class="fas fa-heart"></i>
                            <!-- By <a href="#">Theme Land</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>