<section class="section service-area bg-inherit overflow-hidden ptb_100">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-6 order-2 order-lg-1">
                <!-- Service Text -->
                <div class="service-text pt-4 pt-lg-0">
                    <h2 class="mb-4">¡Vender nunca habia sido tan facil!</h2>
                    <!-- Service List -->
                    <ul class="service-list">
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-sitemap"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Organiza tus productos y servicios por categorias.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-shopping-cart"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Tus clientes cercanos podran visualizar tu tienda y añadir compras al carrito o podran pedirtelas por el chat.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fab fa-buffer"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Gestiona el estado de tus pedidos. Con Cercanosapp podrás conocer los pedidos que fueron despachados, los que faltan por tomar la orden y los que están pendientes de entrega.</p>
                            </div>
                        </li>
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-clipboard-list"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p> Con nuestra app tus clientes podran enviarte el listado de productos que no tengas publicados en tu tienda, y tu podras indicarle el precio y la disponibilidad del mismo. </p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-cash-register"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>No cobramos comisión por ventas, establece la forma de pago, directamente con tu cliente.</p>
                            </div>
                        </li>
                        <!-- Single Service -->
                        <li class="single-service media py-2">
                            <div class="service-icon pr-4">
                                <span><i class="fas fa-bicycle"></i></span>
                            </div>
                            <div class="service-text media-body">
                                <p>Publica la forma de entraga de tus productos o servicios, tu cliente podra elejir entre "recógelo en la tienda" o "te lo llevo a domicilio".</p>
                            </div>
                        </li>
                    </ul>
                    <a href="#contact" class="btn btn-bordered mt-4">Solicita mas información</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2 d-none d-md-block">
                <!-- Service Thumb -->
                <div class="service-thumb mx-auto">
                    <img src="assets/img/mujertrabajando.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>