<section class="section download-area overlay-dark ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <!-- Download Text -->
                <div class="download-text text-center">
                    <h2 class="text-white">CercanosApp disponible para todos los dispositivos</h2>
                    <p class="text-white my-3 d-none d-sm-block">Estamos en todas las tiendas de aplicaciones de forma gratuita.<br>Estas a un click de crear tu tienda virtual #CercanosApp</p>
                    <!-- <p class="text-white my-3 d-block d-sm-none">Estas a un click de crear tu tienda virtual #CercanosApp</p> -->
                    <!-- Store Buttons -->
                    <div class="button-group store-buttons d-flex justify-content-center">
                        <a href="https://play.google.com/store/apps/details?id=com.sistecol.cercanosapp&hl=es">
                            <img src="assets/img/google-play.png" alt="">
                        </a>
                        <!-- <a href="#">
                            <img src="assets/img/app-store.png" alt="">
                        </a> -->
                    </div>
                    <span class="d-inline-block text-white fw-3 font-italic mt-3">* Disponiple para todos los dispositivos Android y Apple.</span>
                </div>
            </div>
        </div>
    </div>
</section>