<section class="section faq-area style-two ptb_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-7">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2 class="text-capitalize">Términos y condiciones</h2>
                    <!-- <p class="d-none d-sm-block mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
                    <p class="d-block d-sm-none mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati.</p> -->
                </div>
            </div>
        </div>
        <div class="row text-justify">
            <p>&nbsp;</p>
            <p><strong>INTRODUCCIÓN:</strong></p>
            <p>En el presente sitio web, ubicado en la dirección https://cercanosapp.com, tanto los productos comercializados como los servicios publicitados por terceros y las páginas a las que se pueda acceder a través del mismo, se encuentran condicionado(a)s
                a la aceptación completa de los términos y condiciones que se expresan a continuación. El acceso al Sitio, en forma directa o indirecta, su uso y/o la descarga de información contenida en él suponen que el Usuario acepta los presentes
                términos y condiciones en todas sus partes. Quien no aceptare los presentes términos y condiciones, deberá abstenerse de acceder a este sitio, ya sea directa o indirectamente, y de utilizar cualquier información o servicio provisto por
                él mismo.</p>
            <p> Siempre que en estos términos y condiciones se haga referencia a:(i) ‘Usuario’ se entenderá por tal a cualquier persona natural o jurídica, agrupación sin personalidad legal, o representante en cualquier forma de los mismos, que use los servicios
                y/o información contenidas en el software o el sitio web y (ii) “Asociado Vendedor”: Es el tercero que publicita sus servicios y/o productos a través de la página web y aplicación CercanosApp.(iii) Asociado comprador” Es el tercero cliente
                que se une para realizar los pedidos de productos o servicios que sean de su interés a través de la página web y aplicación CercanosApp. </p>
            <p><strong>Privacidad y confidencialidad:</strong></p>
            <p>El Usuario y/o Asociado, declara conocer y aceptar la política de confidencialidad y se obliga a guardar absoluta reserva sobre los datos aquí proporcionados. </p>
            <p> Toda la información personal proporcionada por el Usuario, incluidos los datos de despacho en los casos en que es procedente, es de responsabilidad exclusiva de quien la aporta. La información ingresada por el Asociado será utilizada por CercanosApp
                para registrarlo en los programas y servicios, crear cuentas personales, procesar y darle seguimiento a los pedidos, contestar correos electrónicos y proporcionar información con respecto a su cuenta y respecto de los bienes y servicios
                publicitados. CercanosApp se reserva el derecho de usar esta información para enviar correos electrónicos con información relativa a su cuenta o de los bienes y servicios contratados, como también para enviar información sobre promociones,
                productos o servicios. El Usuario siempre podrá solicitar el cese de envío de los correos electrónicos. CercanosApp no venderá, arrendará o intercambiará con terceros la información personal proporcionada por el Usuario </p>
            <p><strong>Propiedad Intelectual e Industrial:</strong></p>
            <p>El contenido, organización, gráficas, diseño, compilación y otros aspectos del Sitio se encuentran protegidos por leyes de Propiedad Intelectual. Su copia, redistribución, uso o publicación, total o parcial, está prohibida por la ley. La publicación
                o transmisión de información o documentos en el Sitio, no constituye una renuncia de cualquier derecho relacionado con tales documentos o información. CercanosApp hace expresa reserva del ejercicio de todas las acciones tanto civiles como
                penales destinadas al resguardo de sus legítimos derechos de propiedad intelectual e industrial.</p>
            <p><strong>Acceso al Sitio:</strong></p>
            <p>El acceso al Sitio está restringido a los Usuarios autorizados, previa suscripción de los mismos al servicio. Para el acceso a determinados servicios se requiere el registro de Usuario en las bases de datos de CercanosApp. Es obligación del
                Usuario custodiar sus datos y claves de acceso, puesto que son para uso exclusivo del titular de las mismas, respondiendo por tanto de las violaciones a las obligaciones de confidencialidad y privacidad de la información contenida en el
                sitio. </p>
            <p><strong>Obligaciones sobre la veracidad de la información: </strong></p>
            <p>Toda la información que proporcione el Usuario y/o Asociado a CercanosApp deberá ser veraz y comprobable. Para estos efectos el Usuario garantiza la autenticidad de todos los datos proporcionados, y la actualización de los mismos, y se hace
                responsable de todos los daños que se deriven de cualquier inexactitud, sea que los sufra el mismo Usuario, CercanosApp o terceros.</p>
            <p><strong>Vínculos:</strong></p>
            <p>El Sitio puede contener hipervínculos a otros sitios web, que no sean controlados, editados, ni tengan relación alguna con CercanosApp, por lo que en ningún momento este será responsable del contenido y/o exactitud de la información contenida
                en ellos. La función de los links que se encuentran en el Sitio es meramente informativa, y se limita sólo a dar a conocer al Usuario otras fuentes de información relacionadas a las materias propias del sitio, debiendo considerarse aquella
                complementaria, y en caso de ser contradictoria, ceñirse el Usuario a la declarada en el Sitio por CercanosApp.</p>
            <p><strong>Prohibiciones:</strong></p>
            <p> Otros derechos propietarios de cualquier persona natural o jurídica, colectividades, etc.; impedir o interrumpir el uso del sitio por parte de terceros; usar programas automáticos, mecanismos o procesos manuales para monitorear, copiar, resumir,
                o extraer Además de las prohibiciones que expresamente se contengan en otras secciones de los presentes términos y condiciones, se prohíbe a los Usuarios usar el Sitio para cargar, hacer avisos o de cualquier otra forma transmitir o distribuir
                cualquier ítem, incluyendo sin limitación alguna virus computacionales, caballos troyanos, gusanos, mecanismos de apagado automático o cualquier otro sistema, programa o archivo disruptivo; interferir con la seguridad de este sitio; infringir
                patentes comerciales, marcas registradas, secretos comerciales e industriales, derechos de publicidad o cualquier información de cualquier otra forma desde este sitio; usar las cuentas y claves de terceros Usuarios, o cualquier otra información
                sin el consentimiento previo y por escrito de su titular; crear cuentas o utilizar el sitio proporcionando datos falsos; transmitir desde este sitio SPAM, cadenas, correo basura o cualquier otro tipo de correo masivo no solicitado; cargar,
                distribuir o diseminar desde el sitio material o información de carácter amenazante, de acoso, difamatorio, obsceno, pornográfico, fraudulento, engañador, o que de cualquier otra forma pudiere ser atentatorio contra la Ley, las buenas
                costumbres, el orden público o que viole los derechos de cualquier otra parte, o que contenga solicitudes de recaudación de fondos, entre otras. Dichas violaciones serán reportadas y manejadas con base en la ley aplicable y denuncias a
                las autoridades Colombianas respectivamente. </p>
            <p>Fallas de Sistema:</p>
            <p>El sitio y/o plataforma eventualmente puede presentar fallas y/o no estar disponible debido a dificultades técnicas, fallas de Internet, o por cualquier otra circunstancia ajena a CercanosApp; en tales casos se procurará restablecerlo con
                la mayor celeridad posible, sin que por ello pueda imputársele algún tipo de responsabilidad a la Empresa. </p>
            <p><strong>Responsabilidad: </strong></p>
            <p>CercanosApp no es responsable por la pérdida o el daño eventual que puedan sufrir los archivos que le son enviados para la prestación de sus servicios, ya sea por problemas técnicos, hecho suyos o de sus dependientes, razón por la que es responsabilidad
                del Usuario el respaldo de la información que se envía para la prestación de los servicios. </p>
            <p><strong>Jurisdicción y Ley Aplicable: </strong></p>
            <p>Este acuerdo estará regido por las leyes de la República de Colombia. Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a las leyes aplicables y a los Tribunales
                competentes de la Ciudad Bogotá, D.C.</p>
            <p><strong>Condiciones de contratación:</strong></p>
            <p>La creación de una cuenta es obligatoria para ser parte de los Asociados según sea su interés, facilitando la contratación o comercialización de bienes y/o servicios a través del Sitio. La información de la cuenta es necesaria para que se
                pueda ofrecer un acceso fácil al sistema, y facilitar a los Asociados interactuar con pedidos, compras, modificaciones preferencias. Los servicios y productos comercializados a través de la página son de responsabilidad de los Asociados.</p>
            <p><strong>Productos:</strong></p>
            <p>Los productos promocionados a través del Sitio son vendidos y promocionados por los Asociados, ya sean vendedores o compradores respectivamente, razón por la cual CercanosApp no puede ser responsable por la calidad, empaque, estado, disponibilidad
                o cambios y devoluciones, ya que esta recae directamente sobre los asociados que promocionen y vendan los mismos. </p>
            <p>Cualquier situación particular presentada sobre los productos comercializados sobre la plataforma CercanosApp condicionada al cumplimiento de las circunstancias bajo las cuales la ley permite a los consumidores la restitución de los bienes
                adquiridos y la consecuente exigencia de restitución del precio pagado, obligación que es directa del asociado que vende en el ejercicio de la garantía, para tal fin el Asociado vendedor deberá aclarar los términos y condiciones para reclamos,
                cambios y devoluciones según procede y junto con el asociado comprador aceptar dichos términos de garantía, dejando claro los canales de comunicación en tal sentido y las condiciones para devolución de productos. CercanosApp no será responsable
                de ninguna de las situaciones que se presenten dentro de la comercialización, despacho o entrega de los productos. La aplicación Cercanosapp mostrara información sobre estado de cada pedido y estado en que se encuentre el mismo a nivel
                informativo, mas no será responsable por los cumplimientos en la entrega o forma de cómo se comercializa cada producto.</p>
            <p><strong>Limitación de la Responsabilidad:&nbsp;</strong></p>
            <p>El Usuario Asociado comprende y acepta que CercanosApp no produce, provee, vende o expende; no es agente distribuidor, ni en general ningún tipo de comercializador de los bienes y productos exhibidos en las categorías publicadas por los Asociados.
                Asimismo, el Usuario reconoce que es el único responsable por la correcta consignación de la información ingresada así como direcciones y contactos relacionados.</p>
            <p>El Usuario debe estar registrado y contar con una cuenta de usuario, como Asociado vendedor o comprador respectivamente.</p>
            <p>CercanosApp siempre actuará como intermediaria y centrará sus esfuerzos en resolver todas las quejas o problemas que se configuren con ocasión al manejo de las publicaciones en la aplicación, orientación y ayuda en el manejo de la misma, mas
                nunca podrá ser responsable por los productos y servicios comercializados ni calidad de los mismos.</p>
            <p>Procurará garantizar disponibilidad, continuidad o buen funcionamiento de la aplicación. </p>
            <p>Cercanos App podrá bloquear, interrumpir o restringir el acceso a esta cuando lo considere necesario para el mejoramiento de la aplicación o por dada de baja de la misma. Se recomienda al Usuario tomar medidas adecuadas y actuar diligentemente
                al momento de acceder a la aplicación, como por ejemplo, contar con programas de protección, antivirus, para manejo de las herramientas.</p>
            <p>Los Asociados deben verificar las secciones de términos y condiciones, política legal y de privacidad de algunos otros sitios que encuentren en&nbsp;CercanosApp o de un tercero con los cuales se enlaza.</p>
            <p>CercanosApp, no será responsable de lesiones personales o cualquier daño fortuito especial, indirecto o consecuente incluyendo personal de los terceros asociados, tampoco será responsable por perdida de datos, interrupción del negocio del
                Asociado o cualquier perdida comercial que tenga lugar debido al uso o la incapacidad de usar la aplicación CercanosApp, por cualquier causa independientemente de la teoría de responsabilidad (contrato, agravio o cualquier otra) inclusive
                contractuales con los proveedores de los terceros asociados. </p>
            <p>Cercanos App&nbsp;no interfiere, no toma decisiones, ni garantiza las relaciones que los usuarios lleguen a sostener o las vinculaciones con terceros que pauten y/o promocionen sus productos y servicios. Estas marcas de terceros se utilizan
                solamente para identificar los productos y servicios de sus respectivos propietarios y el patrocinio. Exceptuando lo expresamente estipulado en estos Términos y Condiciones, queda prohibido todo acto de copia, reproducción, modificación,
                creación de trabajos derivados, venta o distribución, exhibición de los contenidos de esta aplicación, de manera o por medio alguno, incluyendo, más no limitado a, medios electrónicos, mecánicos, de fotocopiado, de grabación o de cualquier
                otra índole, sin el permiso previo y por escrito de CercanosApp&nbsp;o del titular de los respectivos derechos.</p>
            <p>En ningún caso estos Términos y Condiciones confieren derechos, licencias ni autorizaciones para realizar los actos anteriormente prohibidos. Cualquier uso no autorizado de los contenidos constituirá una violación del presente documento y
                a las normas vigentes sobre derechos de autor, a las normas vigentes nacionales e internacionales sobre Propiedad Industrial, y a cualquier otra que sea aplicable</p>
            <p>En el Evento en que un Usuario incumpla estos Términos y Condiciones, o cualesquiera otras disposiciones que resulten de aplicación,&nbsp;CercanosApp podrá suspender su acceso a la aplicación respectivamente.</p>
            <p>El Usuario y/o Asociado acepta expresamente los Términos y Condiciones, siendo condición esencial para la utilización de CercanosApp. En el evento en que se encuentre en desacuerdo con estos Términos y Condiciones, solicitamos abandonar inmediatamente
                la aplicación</p>
            <p>CercanosApp&nbsp;podrá modificar los presentes términos y condiciones, avisando a los usuarios de la aplicación mediante publicación en la página web&nbsp;www.cercanosapp.com, mediante la difusión de las modificación por algún medio electrónico,
                redes sociales, SMS y/o correo electrónico, lo cual se entenderá aceptado por el usuario si éste continua con el uso de la aplicación.</p>
            <p><i>Sistemas Integrales de Colombia SAS, NIT 830099553-8 se encuentra ubicada en la Tv. 28b #36 53 oficina 102, Bogotá, Colombia.</i></p>
            <p></p>
        </div>

    </div>
</section>